{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Gift Card Wallet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(230, 198, 198); margin-bottom: 20px">
            <a class="navbar-brand ml-3" href="/">Gift Card Wallet</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="ml-auto">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item active">
                            <a class="nav-link" href=" {{user.username}}/">Welcome {{user.username}}<span class="sr-only"></span></a>
                            <a class="nav-link" href="/accounts/logout/">Logout<span class="sr-only"></span></a>
                        </li>
                        {% else %}
                        <li class="nav-item active">
                             <a class="nav-link" href="/accounts/login/">Login<span class="sr-only"></span></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>