.jumbotron{
    background: rgb(230, 198, 198)
}

.display_card{
    width:100%;
    border-radius: 4px;
}

.login{
    margin-top: 30px;
}

.login td{
    padding: 10px;
}

#navbarNav a{
   display: inline;
}


.store_cards{
    margin-bottom: 20px;
}


